@import "~bulma/sass/utilities/_all.sass";

.scrollableTable {
  height: 60vh;
  overflow-y: auto;
  width: 100%;
}

.scrollableTable thead tr th {
  position: sticky;
  top: 0;
  background-color: $white;
  border-bottom: 2px solid $grey-light;
}
