<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h3>
        Edit Cluster
      </h3>
    </div>
  </div>
</div>
<p>
<%= render 'form' %>

<%#= link_to 'Show', project_cluster_path(@project,@cluster) %>
<%#= link_to 'Back', project_clusters_path %>
</p>