<%= content_for :project_header do %>
    <% unless @project.blank? %>
        <%= link_to @project.title, project_path(@project) %>
    <% end %>
<% end %>
<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h2>
        Add Cluster
      </h2>
    </div>
  </div>
</div>
<p>
<%= render 'form' %>
</p>