<%= content_for :project_header do %>
    <% unless @project.nil? %>
        <%= link_to @project.title, project_path(@project) %>
    <% end %>
<% end %>
<h2 class="page-header">Add Target Hosts</h2>

<p>
  <% if @target_host_data.blank? %>
      <%= render 'addform' %>
  <% else %>
      <%= render 'updateform' %>
  <% end %>

</p>