@import "~bulma-3pillar/src/default/default";
@import "~@fortawesome/fontawesome-free/css/all.css";

nav {
  .app-logo {
    margin-right: 0.3rem;
  }

  img.app-logo {
    height: 3.0rem;
    max-height: 100% !important;
  }
}

main {
  padding: 2.0rem 0 2.0rem 0;
  .container {
    .title {
      color: map-get($map: $shades, $key: "grey-dark");
    }

    .workspace-header {
      border-bottom: 1px solid map-get($map: $shades,  $key: "grey-lighter");

      .is-status {
        color: $warning !important;
        text-align: right;
      }
    }

    .workspace-main {
      .level-item, .panel-heading {
        i {
          margin-right: 0.3rem;
        }
      }

      .panel-block {
        div.level {
          width: 100%;
        }
      }

      @include until($widescreen) {
        table {
          font-size: 0.90rem;
          th.is-gtk, td.is-gtk {
            display: none;
          }
          th, td {
            padding: 0.25em 0.30em;
          }
        }

        div.is-gtk {
          display: none;
        }
      }
    }

    .workspace-log {
      div.panel-block {
        font-family: $family-monospace;
        font-size: $size-7;
        min-height: 10vh;
        max-height: 40vh;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: scroll;
      }
    }

    .workspace-danger {
      padding-top: 3.0rem;

      article.boundary {
        text-align: center;
      }

      article.message {
        margin-top: 1.0rem;

        ul {
          list-style: circle;
          padding-left: 2.0rem;
        }
      }
    }
  }
}
