<p></p>

<div class="container">
  <div class="alert alert-info fade in">
    <button data-dismiss="alert" class="close">x</button>Job is submitted successfully! below are the logs.
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Project Setup Logs</h3>
      </div>
      <div class="panel-body">


      </div>
    </div>
  </div>
</div>
