<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project Setup</h3>
  </div>
  <div class="panel-body">
    test plans: <%= debug(@test_plans_data) %><br>
    amazon_clouds_data: <%= debug(@amazon_clouds_data) %><br>
    data_centers_data: <%= debug(@data_centers_data) %><br>
  </div>
</div>