# sidekiq systemd service

[Unit]
Description=Hailstorm Sidekiq Background Worker
After=network.target syslog.target

[Service]
Type=simple
# vagrant is the deployment user
User=vagrant
Group=vagrant
Environment=HOME=/home/vagrant
Restart=on-failure
RestartSec=3
TimeoutStartSec=30
WorkingDirectory=/usr/local/lib/hailstorm-redis
ExecStart=/bin/bash -c 'source /usr/local/rvm/scripts/rvm && sidekiq -r ./start_sidekiq.rb'

[Install]
WantedBy=multi-user.target
