<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="INFO" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%p] %m%n"/>
    </layout>
    <filter class="com.brickred.tsg.hailstorm.MDCMatchFilter">
      <param name="KeyToMatch" value="caller" />
      <param name="ValueToMatch" value="aws-sdk" />
      <param name="ThresholdLevel" value="WARN" />
    </filter>
    <filter class="com.brickred.tsg.hailstorm.MDCMatchFilter">
      <param name="KeyToMatch" value="caller" />
      <param name="ValueToMatch" value="net-ssh" />
      <param name="ThresholdLevel" value="WARN" />
    </filter>
  </appender>
  
  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="${hailstorm.log.dir}/hailstorm.log" />
    <param name="MaxBackupIndex" value="10" />
    <param name="MaxFileSize" value="5MB" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %d %t %X{caller} - %m%n" />
    </layout>
    <filter class="com.brickred.tsg.hailstorm.MDCMatchFilter">
      <param name="KeyToMatch" value="caller" />
      <param name="ValueToMatch" value="aws-sdk" />
      <param name="ThresholdLevel" value="INFO" />
    </filter>
    <filter class="com.brickred.tsg.hailstorm.MDCMatchFilter">
      <param name="KeyToMatch" value="caller" />
      <param name="ValueToMatch" value="net-ssh" />
      <param name="ThresholdLevel" value="WARN" />
    </filter>
  </appender>

  <root>
    <priority value="DEBUG"/>
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

</log4j:configuration>