<div class="page-header">
  <h1>Editing Product</h1>
</div>

<%= render 'form', product: @product %>

<%= link_to 'Show', @product, class: 'btn btn-link' %> |
<%= link_to 'Back', products_path, class: 'btn btn-link' %>
