<li class="list-group-item">
  <div class="row">
    <div class="col-xs-11"><%= link_to item[:title], item[:path] %></div>
    <div class="col-xs-1">
      <%= link_to project_generated_report_path(@project, item[:id]), method: :delete, data: {confirm: 'This will permanently delete the file from application. Proceed with deletion?'}, class: 'text-danger', remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </div>
  </div>
</li>