@import "~bulma/sass/utilities/_all.sass";
@import "../sass/variables";

.workspaceHeader {
  border-bottom: $header-line;

  .isStatus {
    color: $warning !important;
    text-align: right;
  }

  .editTrigger {
    margin-left: 2rem;
  }

  .spinnerIcon {
    margin-right: 0.5rem;
  }
}
