# hailstorm-web Unicorn systemd service

[Unit]
Description=Hailstorm Web Server
After=network.target syslog.target

[Service]
Type=simple
# vagrant is the deployment user
User=vagrant
Group=vagrant
Environment=HOME=/home/vagrant RAILS_ENV=production RACK_ENV=production HAILSTORM_WEB_DATABASE_PASSWORD=hailstorm
Restart=on-failure
RestartSec=3
TimeoutStartSec=30
WorkingDirectory=/usr/local/lib/hailstorm-web
ExecStart=/bin/bash -c 'source /usr/local/rvm/scripts/rvm && \
                        export SECRET_KEY_BASE=`cat /usr/local/lib/hailstorm-web/hailstorm_prod_secret_kb` && \
                        unicorn -c /usr/local/lib/hailstorm-web/unicorn.conf.rb --env production'

[Install]
WantedBy=multi-user.target
