// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
hr{ margin-top: 5px; margin-bottom: 5px; }
