<div class="row">
  <div class="page-header">
    <h2>
      Set plan properties
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <pre class="jmx"><%= @test_plan_content %></pre>
  </div>
  <div class="col-md-6">
    <%= render 'form' %>
  </div>
</div>
